Anexa 1 - Declaratie plagiat.docx
Arhitectura calculatoarelor si sisteme de operare/
Books/
Facultate/
Ghid-LICENTA-2018.pdf
IP/
Indrumar prezentare licenta.odp
Other useful info/
POO/
REGULAMENT-FINALIZARE-STUDII-LM.pdf
Reguli Scriere Licenta.txt
SD/
test.py
test_argparse.py
key_gen.pyc
